etl-workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9517cccb-1c58-4370-b532-345227826eca",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        176
      ],
      "id": "10e2fc76-5de3-4156-8347-f617bff6a78e",
      "name": "Webhook",
      "webhookId": "9517cccb-1c58-4370-b532-345227826eca"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -208,
        176
      ],
      "id": "5cfa8221-23fe-4a7c-b2a4-7e64b6b58bb9",
      "name": "Decompression",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $input.item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "id": "8eb53561-22b4-471c-b3b7-0dd0aa1efee6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (name) \nVALUES ('{{ $json.name }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        16
      ],
      "id": "e84fa580-7532-4887-a667-0666e2baf278",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "6KuBRmFwh6DS4SRE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procura o item que contém o arquivo clientes.csv\nconst items = Object.entries($input.first().binary)\nlet clientesItem = {}\n\nfor (const [_, value] of items) {\n  if (value.fileName === \"clientes.csv\") {\n    clientesItem = value\n    break;\n  }\n}\n\nreturn [clientesItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        16
      ],
      "id": "48cbd3b9-9a61-4d4b-b8dd-c04e1fdbe010",
      "name": "Clientes extract",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Procura o item que contém o arquivo clientes.csv\nconst items = Object.entries($input.first().binary)\nlet contratosItem = {}\n\nfor (const [_, value] of items) {\n  if (value.fileName === \"contratos.csv\") {\n    contratosItem = value\n    break;\n  }\n}\n\nreturn [contratosItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "371a9a34-da25-4c0f-b533-f30d945c8773",
      "name": "Contratos extract",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $input.item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        176
      ],
      "id": "fb91228a-3c13-4103-8925-b799519685fe",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO contracts (customer_id, start_date, is_active) \nVALUES ({{ $json.customer_id }}, '{{ $json.start_date }}', {{ $json.is_active }});\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        176
      ],
      "id": "a6d6ba1c-5b82-4016-9e8e-cef7e3900213",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "6KuBRmFwh6DS4SRE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "={{ $input.item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        384
      ],
      "id": "8aca0f0d-761d-445f-90fd-8c3d45ee132d",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO energy_readings (contract_id, reading_timestamp, kwh_value) \nVALUES ({{ $json.contract_id }}, '{{ $json.reading_timestamp }}', {{ $json.kwh_value }});",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        384
      ],
      "id": "da86862c-4a0e-4540-8131-e22c4fd5dce4",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "6KuBRmFwh6DS4SRE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procura o item que contém o arquivo clientes.csv\nconst items = Object.entries($input.first().binary)\nlet leiturasItem = {}\n\nfor (const [_, value] of items) {\n  if (value.fileName === \"leituras.csv\") {\n    leiturasItem = value\n    break;\n  }\n}\n\nreturn [leiturasItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        384
      ],
      "id": "f8893a5c-92eb-4354-be8c-7a5bec52b8f6",
      "name": "Leituras extract",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Decompression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decompression": {
      "main": [
        [
          {
            "node": "Clientes extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contratos extract",
            "type": "main",
            "index": 0
          },
          {
            "node": "Leituras extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clientes extract": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contratos extract": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leituras extract": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "87832c3a-2900-4906-b89e-166e26b2f8fa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80650967803774c65a3f7fb265b3c237d19d2e88114a39ff1321bb8d631d858d"
  },
  "id": "SbtqaXEKS7aHNQyD",
  "tags": []
}