main-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "path": "e50e99c9-d682-4ad1-a1f5-9d2a3a3fe0f5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -512,
        -64
      ],
      "id": "672a3e0d-5b82-4bed-9cc5-eb1f1475ad3d",
      "name": "Webhook",
      "webhookId": "e50e99c9-d682-4ad1-a1f5-9d2a3a3fe0f5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"dados_clientes\": {{ JSON.stringify($('Code').item.json.relatorio_dados) }},\n  \"relatorio_llm\": {{ JSON.stringify($json.output[0].content) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        -64
      ],
      "id": "97bdd940-500b-4595-95a2-a74c6577f66c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    c.name AS \"Nome do cliente\",\n    AVG(er.kwh_value) AS media_consumo\nFROM customers c\nJOIN contracts ct ON c.id = ct.customer_id\nJOIN energy_readings er ON ct.id = er.contract_id\nWHERE ct.is_active = TRUE\nGROUP BY c.id, c.name;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -64
      ],
      "id": "1c94ca0a-3314-4759-b2a2-b19921ff64d6",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "JaIn9T0mUE25KXPZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Você é um engenheiro de dados sênior analisando consumos energéticos. Seja conciso e direto. Você receberá um JSON com clientes, médias de consumo e status. Analise os dados, comente sobre os outliers identificados e gere um breve resumo."
            },
            {
              "content": "={{ JSON.stringify($json.relatorio_dados) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        112,
        -64
      ],
      "id": "3b048006-b400-4ea8-8339-60b7a4c6dda2",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "fiV9YYv1uoLNEJVf",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nif (items.length === 0) return [];\n\nlet totalConsumption = 0;\nfor (const item of items) {\n    totalConsumption += parseFloat(item.json.media_consumo);\n}\nconst globalAvg = totalConsumption / items.length;\nconst upperThreshold = globalAvg * 1.5; // 50% acima da média\nconst lowerThreshold = globalAvg * 0.5; // 50% abaixo da média\n\nconst processedData = items.map(item => {\n    const media = parseFloat(item.json.media_consumo);\n    let status = 'normal';\n    \n    if (media > upperThreshold || media < lowerThreshold) {\n        status = 'outlier';\n    }\n\n    return {\n        \"Nome do cliente\": item.json['Nome do cliente'],\n        \"Média de consumo\": Number(media.toFixed(4)),\n        \"Status\": status\n    };\n});\n\nreturn [{ json: { relatorio_dados: processedData } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -64
      ],
      "id": "e4f29c1a-2357-408a-b068-51651f975e7a",
      "name": "Code",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e70643b9-0b50-4ce7-bc0b-42cdaf76e8ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca34ab5c748c6607c7ca4a826b44c5bdc1c48e8c3b10987890a1944eafa8eedf"
  },
  "id": "SXmB9oOE6QaTXGCp",
  "tags": []
}